node-red-flows/greenhouse_dark_mode_flow.json
[
    {
        "id": "greenhouse_dark_mode",
        "type": "tab",
        "label": "Greenhouse Dark Mode Dashboard",
        "disabled": false,
        "info": "Dark mode dashboard with timestamp header and enhanced VPD calculations"
    },
    {
        "id": "timestamp_header",
        "type": "ui_template",
        "z": "greenhouse_dark_mode",
        "group": "dashboard_header",
        "name": "Timestamp Header",
        "order": 1,
        "width": "24",
        "height": "1",
        "format": "<div style=\"width: 100%; text-align: center; color: #4caf50; font-style: italic; margin-bottom: 10px;\">\n    Data acquired on: {{msg.payload}}\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 400,
        "y": 60,
        "wires": [[]]
    },
    {
        "id": "timestamp_injector",
        "type": "inject",
        "z": "greenhouse_dark_mode",
        "name": "Update Timestamp",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 60,
        "wires": [["timestamp_formatter"]]
    },
    {
        "id": "timestamp_formatter",
        "type": "function",
        "z": "greenhouse_dark_mode",
        "name": "Format Timestamp",
        "func": "const now = new Date();\nconst timestamp = now.toISOString().replace('T', ' ').substring(0, 19);\nmsg.payload = timestamp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 60,
        "wires": [["timestamp_header"]]
    },
    {
        "id": "data_fetch",
        "type": "http request",
        "z": "greenhouse_dark_mode",
        "name": "Fetch Sensor Data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://192.168.1.203:8080/data",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 140,
        "wires": [["data_splitter"]]
    },
    {
        "id": "data_injector",
        "type": "inject",
        "z": "greenhouse_dark_mode",
        "name": "Poll Data",
        "props": [],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 140,
        "wires": [["data_fetch"]]
    },
    {
        "id": "data_splitter",
        "type": "function",
        "z": "greenhouse_dark_mode",
        "name": "Split Data",
        "func": "const data = msg.payload;\n\n// Standard VPD\nnode.send([{topic: \"ph\", payload: data.ph}, null, null, null, null, null, null, null, null]);\nnode.send([null, {topic: \"temperature\", payload: data.temperature}, null, null, null, null, null, null, null]);\nnode.send([null, null, {topic: \"humidity\", payload: data.humidity}, null, null, null, null, null, null]);\nnode.send([null, null, null, {topic: \"vpd\", payload: data.vpd}, null, null, null, null, null]);\n\n// Enhanced VPD\nnode.send([null, null, null, null, {topic: \"vpd_thermal_max\", payload: data.vpd_thermal_max}, null, null, null, null]);\nnode.send([null, null, null, null, null, {topic: \"vpd_thermal_mean\", payload: data.vpd_thermal_mean}, null, null, null]);\nnode.send([null, null, null, null, null, null, {topic: \"vpd_thermal_median\", payload: data.vpd_thermal_median}, null, null]);\nnode.send([null, null, null, null, null, null, null, {topic: \"vpd_thermal_mode\", payload: data.vpd_thermal_mode}, null]);\n\n// Thermal data for reference\nnode.send([null, null, null, null, null, null, null, null, {topic: \"thermal_temps\", payload: {\n    max: data.thermal_max_temp,\n    mean: data.thermal_mean_temp,\n    median: data.thermal_median_temp,\n    mode: data.thermal_mode_temp\n}}]);",
        "outputs": 9,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 140,
        "wires": [
            ["ph_gauge"],
            ["temp_gauge"],
            ["humidity_gauge"],
            ["vpd_gauge"],
            ["vpd_thermal_max_gauge"],
            ["vpd_thermal_mean_gauge"],
            ["vpd_thermal_median_gauge"],
            ["vpd_thermal_mode_gauge"],
            ["thermal_display"]
        ]
    },
    {
        "id": "ph_gauge",
        "type": "ui_gauge",
        "z": "greenhouse_dark_mode",
        "name": "pH Value",
        "group": "sensor_group",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "pH",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": 14,
        "colors": ["#ca3838", "#e6e600", "#ca3838"],
        "seg1": 6,
        "seg2": 8,
        "className": "",
        "x": 620,
        "y": 180,
        "wires": []
    },
    {
        "id": "temp_gauge",
        "type": "ui_gauge",
        "z": "greenhouse_dark_mode",
        "name": "Temperature",
        "group": "sensor_group",
        "order": 2,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": 50,
        "colors": ["#0066cc", "#4caf50", "#ff6600"],
        "seg1": 18,
        "seg2": 30,
        "className": "",
        "x": 630,
        "y": 220,
        "wires": []
    },
    {
        "id": "humidity_gauge",
        "type": "ui_gauge",
        "z": "greenhouse_dark_mode",
        "name": "Humidity",
        "group": "sensor_group",
        "order": 3,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": ["#ca3838", "#4caf50", "#0066cc"],
        "seg1": 30,
        "seg2": 70,
        "className": "",
        "x": 630,
        "y": 260,
        "wires": []
    },
    {
        "id": "vpd_gauge",
        "type": "ui_gauge",
        "z": "greenhouse_dark_mode",
        "name": "VPD Standard",
        "group": "sensor_group",
        "order": 4,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "VPD (Air Temp)",
        "label": "kPa",
        "format": "{{value}}",
        "min": 0,
        "max": 3,
        "colors": ["#4caf50", "#e6e600", "#ca3838"],
        "seg1": 0.8,
        "seg2": 1.5,
        "className": "",
        "x": 640,
        "y": 300,
        "wires": []
    },
    {
        "id": "vpd_thermal_max_gauge",
        "type": "ui_gauge",
        "z": "greenhouse_dark_mode",
        "name": "Enhanced VPD Max",
        "group": "enhanced_vpd_group",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Enhanced VPD (Max)",
        "label": "kPa",
        "format": "{{value}}",
        "min": 0,
        "max": 4,
        "colors": ["#4caf50", "#ff9800", "#ca3838"],
        "seg1": 1.0,
        "seg2": 2.0,
        "className": "",
        "x": 660,
        "y": 360,
        "wires": []
    },
    {
        "id": "vpd_thermal_mean_gauge",
        "type": "ui_gauge",
        "z": "greenhouse_dark_mode",
        "name": "Enhanced VPD Mean",
        "group": "enhanced_vpd_group",
        "order": 2,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Enhanced VPD (Mean)",
        "label": "kPa",
        "format": "{{value}}",
        "min": 0,
        "max": 4,
        "colors": ["#4caf50", "#ff9800", "#ca3838"],
        "seg1": 1.0,
        "seg2": 2.0,
        "className": "",
        "x": 670,
        "y": 400,
        "wires": []
    },
    {
        "id": "vpd_thermal_median_gauge",
        "type": "ui_gauge",
        "z": "greenhouse_dark_mode",
        "name": "Enhanced VPD Median",
        "group": "enhanced_vpd_group",
        "order": 3,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Enhanced VPD (Median)",
        "label": "kPa",
        "format": "{{value}}",
        "min": 0,
        "max": 4,
        "colors": ["#4caf50", "#ff9800", "#ca3838"],
        "seg1": 1.0,
        "seg2": 2.0,
        "className": "",
        "x": 680,
        "y": 440,
        "wires": []
    },
    {
        "id": "vpd_thermal_mode_gauge",
        "type": "ui_gauge",
        "z": "greenhouse_dark_mode",
        "name": "Enhanced VPD Mode",
        "group": "enhanced_vpd_group",
        "order": 4,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Enhanced VPD (Mode)",
        "label": "kPa",
        "format": "{{value}}",
        "min": 0,
        "max": 4,
        "colors": ["#4caf50", "#ff9800", "#ca3838"],
        "seg1": 1.0,
        "seg2": 2.0,
        "className": "",
        "x": 670,
        "y": 480,
        "wires": []
    },
    {
        "id": "thermal_display",
        "type": "ui_template",
        "z": "greenhouse_dark_mode",
        "group": "enhanced_vpd_group",
        "name": "Thermal Reference",
        "order": 5,
        "width": "12",
        "height": "2",
        "format": "<div style=\"color: #ff9800; text-align: center; font-size: 14px; padding: 10px;\">\n    <strong>Canopy Temperatures:</strong><br>\n    Max: {{msg.payload.max}}°C | Mean: {{msg.payload.mean}}°C | Median: {{msg.payload.median}}°C | Mode: {{msg.payload.mode}}°C\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 650,
        "y": 520,
        "wires": [[]]
    },
    {
        "id": "landscape_layout_config",
        "type": "ui_template",
        "z": "greenhouse_dark_mode",
        "group": "dashboard_header",
        "name": "Dark Mode Layout",
        "order": 0,
        "width": "24",
        "height": "1",
        "format": "<style>\n  .nr-dashboard-cardpanel {\n    background-color: #1a1a1a !important;\n  }\n  .nr-dashboard-theme .md-card {\n    background-color: #2d2d2d !important;\n    color: #ffffff !important;\n  }\n  .nr-dashboard-theme .md-title {\n    color: #4caf50 !important;\n  }\n  body {\n    background-color: #0d0d0d !important;\n  }\n  .layout-row {\n    flex-direction: row !important;\n  }\n</style>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 420,
        "y": 20,
        "wires": [[]]
    },
    {
        "id": "dashboard_header",
        "type": "ui_group",
        "name": "Header",
        "tab": "greenhouse_dashboard_tab",
        "order": 1,
        "disp": false,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "sensor_group",
        "type": "ui_group",
        "name": "BeagleConnect Sensors",
        "tab": "greenhouse_dashboard_tab",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "enhanced_vpd_group",
        "type": "ui_group",
        "name": "Enhanced VPD (Canopy Temperature)",
        "tab": "greenhouse_dashboard_tab",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "greenhouse_dashboard_tab",
        "type": "ui_tab",
        "name": "Greenhouse Monitor",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
